/* General styling */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display:flex;
    justify-content: center;
}
.index-container{
    display:flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container .forms {
    text-align: center;
}

.login-container .form {
    display: none;
    animation: fadeIn 1s forwards;
}

.login-container .active{
    display: block;
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Default Light Mode */
body {
    background-color: #f0f0f0;
    color: #333;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/*moving nav bar to the left side*/
.container{
    display: flex;
    width: 100%; /* Full width of the page */
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the content */
}

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Full height of the screen */
    width: 115px; /* Adjust the width based on your design */
    background: #98c1d9; /* Example background color */
    /* we can add other styling as needed */

}
.navbar a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #3d5a80;
}
.navbar a:active{
    background-color: #f0f0f0;
}
.navbar a:hover{
    transform: scale(1.1,1.1);
}
.content{
    margin-left: 70px;
    padding: 20 px;
}
/*could maybe combine above and below*/
.content{
    flex: 1;
    padding: 20px;
}
#taskTitle{
    text-align: center;
}

.content-calendar{
    text-align: center; /*center align the calendar*/
}

.content-calendar #calendar{
    display: inline-block;
    margin: 20px auto; /*add margin to center the calendar*/
}

/*centering the task-list information -> Task-list.html*/
/*decided to change to grid container for visuals -emma*/
.task-container{
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
    /*flex-direction: column;
    max-width: 60px;
    margin: 0 auto;
    text-align: center;*/
}

#taskColorPicker{
    grid-column-start: 2;
    grid-column-end: 3;
}

#taskButton{
    grid-column-start: 1;
    grid-column-end: 3;
}
    
.account-container{
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}

.account-container .user-details{
    text-align: left;
}
