/* General styling */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display:flex;
    justify-content: center;
}
.index-container{
    display:flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container .forms {
    text-align: center;
}

.login-container .form {
    display: none;
    animation: fadeIn 1s forwards;
}

.login-container .active{
    display: block;
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Default Light Mode */
body {
    background-color: #f3fdfe;
    color: #293241;
    font-family: sans-serif;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}

/*moving nav bar to the left side*/
.container{
    display: flex;
    width: 100%; /* Full width of the page */
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the content */
}

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Full height of the screen */
    width: 115px; /* Adjust the width based on your design */
    background: #98c1d9; /* Example background color */
    /* we can add other styling as needed */

}
.navbar a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #293241;
    text-decoration: none;
}
.navbar a:active{
    background-color: #f3fdfe;
}
.navbar a:hover{
    transform: scale(1.1,1.1);
}
/*editing placement of icons*/
.navbar a i{
    padding-left: 10px;
}

.content{
    margin-left: 110px;
    padding: 20 px;
}

.content{
    flex: 1;
    padding: 20px;
}

.content #tasks{
    border: 1px solid #293241;
    border-radius: 5px;
    padding: 0;
}

.content #tasks li{
    padding: 7px;
    margin: 3px;
    list-style-type: none;
    border-radius: 5px;
    
}
.content #tasks li:hover{
    cursor: pointer;
}

#taskTitle{
    text-align: center;
}

.content-calendar{
    text-align: center; /*center align the calendar*/
}

.content-calendar #calendar{
    display: inline-block;
    margin: 20px auto; /*add margin to center the calendar*/
}

/*centering the task-list information -> Task-list.html*/

.task-container{
    display: grid;
    column-gap: 4px;
    row-gap: 3px;
}

#taskInput{
    grid-column-start: 1;
    grid-column-end: 2;
}

#taskColorPicker{
    grid-column-start: 3;
    grid-column-end: 4;
    border: none;
    height: 40px;
    padding: 0;
    background-color: transparent;
}

#taskColorPicker:hover{
    cursor: pointer;
}

#taskButton{
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: #ee6c4d;
    color: white;
    border: none;
    padding: 8px 13px;
    box-shadow: 2px 2px 5px #293241;
    border-radius: 4px;
}

#taskButton:hover{
    transform: scale(1.03, 1.03);
    cursor: pointer;
}

#dueDateInput{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}


    
.account-container{
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}

.account-container .user-details{
    text-align: left;
}
